body {
	font-family: sans-serif;
	margin: 2%;
	background-color: #f6f8fa;
}

button {
	padding: 20px;
	display: block;
}

#purchases {
	float:left;
	width: 35%;
	margin: 10px;
}

#logBox {
	background-color: gray;
	padding: 20px;
	width: 30%;
	float: left;
}

#stats {
	float:left;
	width: 35%;
	margin: 10px;
}